name: Build with Gradle

on:
  merge_group:
  push:
    branches: ["main"]
    paths-ignore:
      - "**/README.md"
      - "examples/**"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  JAVA_VERSION: 17

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          add-job-summary-as-pr-comment: on-failure
          cache-cleanup: always

      - name: Build
        run: ./gradlew build check koverXmlReport --no-daemon

      - name: Upload Reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: reports-${{ matrix.example }}
          path: |
            **/build/reports/

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: ${{ !cancelled() }}
        with:
          report_paths: '**/test-results/**/TEST-*.xml'
          annotate_only: true
          detailed_summary: true
          flaky_summary: true
          include_empty_in_summary: false
          include_time_in_summary: true

  integration-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          add-job-summary-as-pr-comment: on-failure
          cache-cleanup: always

      - name: Integration tests
        working-directory: gradle-plugin-integration-tests
        run: ./gradlew allTests

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: ${{ !cancelled() }}
        with:
          report_paths: 'gradle-plugin-integration-tests/**/test-results/**/TEST-*.xml'
          annotate_only: true
          detailed_summary: true
          flaky_summary: true
          include_empty_in_summary: false
          include_time_in_summary: true

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
